@Charset "utf-8";

/******************************************
 * Eric Tetris
 *
 * Copyright 2013，Eric
 * 
 * main.css
******************************************/

body {
	height: 1000px;
}

.main {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	background: gray;
}

#map {
	width: 400px;
	height: 600px;
	float: left;
	background: green;
}

#nextbox {
	float: left;
	width: 200px;
	height: 200px;
	background: red;
}

#scorce {
	width: 200px;
	height: 50px;
	position: fixed;
	bottom: 0;
	background: red;
}
