 #map{border:3px solid green;background-image:url(../images/tetris_grid.gif);float:left;margin-right:20px;}
        #preview{float:left;}
        #previewArea{border:2px solid green;width:140px;height:168px;padding-left:28px;}
        #map td{width:28px;height:28px;}
        #preview td{width:28px;height:28px;}
        #perviewTable{margin-top:56px;}
        #score,#rank{font-size:20px;color:Red;font-weight:bold;}